a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    background-color: #0020F4;
    width: 1920;
    height: 387.76;
}

li a {
    font-size: 16px;
    color: #FFFFFF;
}

.contact a {
    color: #171717;
    border-radius: 28px;
    background-color: #FFFFFF ;
}

section p {
    font-size: 28px;
}